<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="TrainingConnectionString"   connectionString="server=184.168.194.70;database=Training;uid=mj9119;password=Roent4Gen#9119;" />
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" 
connectionString="server=184.168.194.70;database=Training;uid=mj9119;password=Roent4Gen#9119;" />

  </connectionStrings>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
   <!-- <customErrors mode="Off"/> -->

    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>